<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title>Shopping cart</title>
    <script src="../js/angular.js"></script>
    <script src="controllers.js"></script>
</head>
<body ng-controller="CartController">

<div ng-repeat="item in items">
    <span>{{item.title}}</span>
    <label for="qty">QTY</label>
    <input id="qty" type="text" ng-model="item.quantity" />
    <span>{{item.price | currency}}</span>
    <span>{{item.price * item.quantity | currency}}</span>
    <button ng-click="remove($index)">Remove</button>
</div>


</body>
</html>